<div class = "selection">
        <p class = "selection-texte"> Notre Selection </p>
        <h1 class = "selection-title">  Nos nouveaux poissons </h1>
    <div class = "selection-gallery"> 

    {% for product in products %}

 <div class="card mb-3">
    <div class="card-head">
        <div class = "badger" >  
            <p class = " badge-text" > Nouveauté </p> 
        </div>
    </div>
    <div class="card-body">
    <img class="img-product" src="{{ asset('build/images/' ~ product.image1) }}" alt="le poisson {{ product.name }}" />

    </div>
    <div class="card-foot">
    <p class="card-title">{{ product.name }}</p>
    <p class="reduce">Famille: {{ product.famille }}</p>
    <p class = "card-price">
   
    
    <span class = "price-right"> {{ product.price }} euros </span>
    
    </p>

    </div>
    <a href="{{ path('app_product_by_id', {id: product.id}) }}" class="btn-panier">
        Voir
    </a>
</div>

    {% endfor %}
    </div>
       <a href="{{ path('app_product') }}" class="btn-gallery">
        Voir nos poissons
    </a>
 
    

</div>

